# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables
.env

# Logs
logs/
*.log

# Virtual environments
venv/
.env/

.idea/
.idea

# Files I'm using for keys
.key
*.key

todo.txt

# Data files
data/